.back_card{
    height: 375px;
    width: 675px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;

    @media (max-width: 768px) {
        width: 75vw;
        padding: 5vw;
        height:min-content;

    }


    .card{
        height: 330px;
        width: 630px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        flex-direction: column;
        padding: 5px;

        @media (max-width: 768px) {
            width: 72vw; 
            height:min-content;       
        }
    }
    
}
