.page{
    min-height: 100%;
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-color: rgb(241, 245, 244);
    margin: 5.5vh;
    flex-direction: column;
    position: relative;

    @media (max-width: 992px) {
        width: 100%;
    }

    @media (max-width: 768px) {
        margin: 0;
    }


    .title{
        text-align: center;
        padding: 2rem;
        font-size: 3rem;
        color:rgba(156, 176, 185, 1);
     
    }
}